<mat-toolbar color="primary">
    <a routerLink="/" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>auto_stories</mat-icon>
    </a>
    <span>Exam-Portal</span>
    <span class="example-spacer"></span>
    <a *ngIf= "!isLoggedIn"   [routerLink]="'/login'" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      Login
    </a>
    <a  *ngIf= "!isLoggedIn"  [routerLink]="'/signup'"  mat-icon-button class="example-icon ml20 mr20" aria-label="Example icon-button with share icon">
      Register
    </a>

    <a   *ngIf= "isLoggedIn && user"   routerLink="/admin-dashboard/profile"  mat-icon-button class="example-icon ml20 mr20" aria-label="Example icon-button with share icon">
      {{user.username}}
    </a>

    <a  (click)="logout()" *ngIf= "isLoggedIn"    mat-icon-button class="example-icon ml20 mr20" aria-label="Example icon-button with share icon">
      Logout
    </a>

  </mat-toolbar>