<mat-card class="mb20">
    <h2 class="text-center">Add New Quiz</h2>


    <mat-card-content>
        <div class="bootstrap-wrapper">

            <div class="row">

                <div class="col-md-8 offset-md-2">

                    <form (ngSubmit)="formSubmit()" >
                        <mat-form-field class="w100" appearance="outline">
                         <mat-label>Title</mat-label>
                        <input type="text" [(ngModel)]="quiz.title" name="title" matInput placeholder="Enter here">
                        </mat-form-field>

                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Description</mat-label>
                           <textarea  [(ngModel)]="quiz.description"  rows="10" name="description" matInput
                           >
                           </textarea>
                           </mat-form-field>


                           <div class="row">

                            <div class="col-md-6">
                                <mat-form-field class="w100" appearance="outline">
                                    <mat-label>Max Marks</mat-label>
                                   <input type="text" [(ngModel)]="quiz.maxMarks" name="maxMarks" matInput placeholder="Enter here">
                                   </mat-form-field>
                            </div>

                            <div class="col-md-6">
                                <mat-form-field class="w100" appearance="outline">
                                    <mat-label>No of Questions</mat-label>
                                   <input type="text" [(ngModel)]="quiz.numberOfQuestions" name="numberOfQuestions" matInput placeholder="Enter here">
                                   </mat-form-field>
                            </div>
                           </div>

                           <h4>Select Category</h4>
                           <mat-form-field appearance="outline" class="w100">
                            <mat-label>Choose one</mat-label>
                            <mat-select name="category" [(ngModel)]="quiz.category.cid">
                              <mat-option *ngFor="let c of categories" [value]="c.cid" >
                                  {{c.title}}</mat-option>
                            </mat-select>
                          </mat-form-field>

                          <mat-slide-toggle 
                          name="active"
                          [(ngModel)]="quiz.active">Publish this Quiz ?</mat-slide-toggle>

                           <div class="text-center container mt15">
                               <button mat-raised-button color="warn">Add</button>
                           </div>
                    </form>


                </div>

            </div>

        </div>

    </mat-card-content>
</mat-card>
