<mat-card>
    <mat-list>
        <div mat-subheader>All Categories </div>
        <mat-list-item *ngFor="let c of categories">
          <mat-icon mat-list-icon>category</mat-icon>
          <div mat-line>{{c.title}}</div>
          <div mat-line>{{c.description}}</div>
          <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>

    <div class="container text-center mt20">
  <button routerLink="/admin-dashboard/add-category" mat-raised-button color="primary">Add Category</button>
    </div>
    
</mat-card>