<div class="bootstrap-wrapper">
    <div class="container ">
        <div class="row mt20 mb20">
            <div class="col-md-6 offset-md-3">

              <mat-card>
                <div class="container">
                    <img src="../../../assets/logo.jpg" alt="logo">
                </div>
                <h1 class="text-center">Register Here !!</h1>
                <form (ngSubmit)="formSubmit()">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Username</mat-label>
                        <input [(ngModel)]="user.username" required name="username" matInput placeholder="Enter here...">
                      </mat-form-field>

                      <mat-form-field appearance="outline" class="full-width">
                        <mat-label>First Name</mat-label>
                        <input [(ngModel)]="user.firstname" required name="firstname" matInput placeholder="Enter here...">
                      </mat-form-field>

                      <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Last Name</mat-label>
                        <input  [(ngModel)]="user.lastname" required name="lastname" matInput placeholder="Enter here...">
                      </mat-form-field>

                      <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Password</mat-label>
                        <input [(ngModel)]="user.password" required name="password" type="password" matInput placeholder="Enter here...">
                      </mat-form-field>

                      <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Email</mat-label>
                        <input [(ngModel)]="user.email" required name="email" type="email" matInput placeholder="Enter here...">
                      </mat-form-field>

                      <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Phone number</mat-label>
                        <input [(ngModel)]="user.phone" required name="phone" type="number" matInput placeholder="Enter here...">
                      </mat-form-field>

                      <div class="container text-center mb20">
                        <button type="submit" mat-raised-button color="primary">Register</button>
                        <button type="reset" class="ml20" mat-raised-button color="warn">Reset</button>
                      </div>
                </form>
              </mat-card>
            </div>
        </div>
    </div>
</div>
