<div class="bootstrap-wrapper">
        <div class="container">
            <div class="row mt20">
                <div class="col-md-4">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>Total Quizes</mat-card-title>
                        </mat-card-header>
          
                        <div class="container text-center">
                            <img class="card-image"  src="../../../../assets/desktop-computer.png" alt="Photo">
                        </div>        
                        <mat-card-content class="text-center">
                           <h2>Quizes : {{totalQuizes.length}}</h2>
                        </mat-card-content>
                      </mat-card>
                </div>

                
                <div class="col-md-4">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>Total Questions</mat-card-title>
                        </mat-card-header>
          
                        <div class="container text-center">
                            <img class="card-image"  src="../../../../assets/quiz-admin.png" alt="Photo">
                        </div>
                        <mat-card-content class="text-center">
                            <h2> Questions : {{totalQuestions}}</h2>
                        </mat-card-content>
                      </mat-card>
                </div>
                <div class="col-md-4">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>Total Users</mat-card-title>
                        </mat-card-header>
                        <div class="container text-center">
                            <img class="card-image"  src="../../../../assets/man.png" alt="Photo">
                        </div>
                        <mat-card-content class="text-center">
                        <h2>Users: {{totalUsers}}</h2>
                        </mat-card-content>
                      </mat-card>
                </div>
            </div>
        </div>


</div>
